SECRET_KEY=your-secret-key
CORS_ORIGINS=["http://localhost:5173", "http://localhost:3000"]
POSTGRES_HOST=host
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
